
  <footer class="footer">
    <div class="logo-box">
    <img src="/img/logo.webp" alt="Logo" class="footer__logo">
  </div>
    <div class="footer-info">
      <div class="footer-social" >
        <svg class="footer-social__icon" >
          <use href="/img/icomoon/sprite.svg#icon-twitter"></use>
        </svg>
        <svg class="footer-social__icon">
          <use href="/img/icomoon/sprite.svg#icon-instagram"></use>
        </svg>
      </div>
     
      
      <div class="footer-content">
        <a href="/terms" class="footer-content__link">Terms&nbsp;and&nbsp;conditions</a>
        <a href="/privacy" class="footer-content__link">Privacy&nbsp;Policy</a>
        <p class="footer-content__copyright">&copy; 2021 Christina Milona and Kostas Christou</p>
      </div>
    </div>   
  </footer>
</html>