<%- include('partials/head') -%>
<body>
  <%- include('partials/header') -%>
  <main>
    <section class="about">
      <div class="img-box">
        <img
          src="img/hero_kelcie-herald.webp"
          alt="Bakery bench with cupcakes"
        />
      </div>
      <div class="content-box">
        <h2 class="content-box__heading">A few words about us</h2>
        <p class="content-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          temporibus eos, aperiam architecto sunt alias, iure at totam veritatis
          natus iste neque assumenda praesentium placeat tempora ratione nemo
          maxime reiciendis a, omnis eum quae voluptas quia error? Incidunt
          illum ipsum at sint, eaque ullam dolores pariatur fugit cum, dolor
          atque.
        </p>
        <p class="content-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          quaerat aliquid libero dolor maiores minima repellendus sequi, enim
          necessitatibus commodi voluptate voluptatem fugit ratione perferendis
          ipsa iusto aspernatur eveniet, doloribus distinctio excepturi nisi
          veritatis, assumenda cum nobis! Sunt, tempora eveniet.
        </p>
        <p class="content-box__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero rem,
          corrupti labore, porro quidem harum provident minus aliquid minima
          quisquam voluptatum facere maiores ipsam veritatis recusandae
          molestias molestiae sequi. A veritatis beatae blanditiis nam tempora
          cupiditate accusamus quibusdam nulla, voluptate in deserunt omnis quam
          tenetur corporis dolorem sint voluptates dolores fuga aliquid
          reiciendis animi. Doloribus distinctio facere nisi quaerat. Facilis.
        </p>
      </div>
    </section>
  </main>
  <%- include('partials/footer') -%>
</body>
