<%- include('partials/head') -%>
<body>
  <%- include('partials/header') -%>
  <main class="suppliers">
    <h2 class="suppliers__heading">
      Organic products from certified suppliers
    </h2>

    <div class="container-suppliers">
      <div class="suppliers-img-box suppliers-img-box--1">
        <img src="img/ingredients/berries-2.webp" alt="berries" />
      </div>
      <p class="container-suppliers__text container-suppliers__text--1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum
        temporibus reprehenderit.
      </p>
      <div class="suppliers-img-box suppliers-img-box--2">
        <img src="img/ingredients/carrots-1.webp" alt="carrots" />
      </div>
      <p class="container-suppliers__text container-suppliers__text--2">
        Nesciunt laboriosam consectetur accusantium nostrum labore consequatur .
        Laboriosam vitae quidem quis nulla fugit non doloremque.
      </p>
      <div class="suppliers-img-box suppliers-img-box--3">
        <img src="img/ingredients/mushrooms-1.webp" alt="mushrooms" />
      </div>
      <p class="container-suppliers__text container-suppliers__text--3">
        Velit quae dicta, dolores maiores iste voluptatem voluptatibus
        voluptates.
      </p>
      <div class="suppliers-img-box suppliers-img-box--4">
        <img src="img/ingredients/tomatoes-1.webp" alt="tomatoes" />
      </div>
      <p class="container-suppliers__text container-suppliers__text--4">
        Tenetur molestias, voluptas voluptatum reiciendis sequi quaerat adipisci
        ex corporis.
      </p>
      <div class="suppliers-img-box suppliers-img-box--5">
        <img src="img/ingredients/herbs.webp" alt="herbs" />
      </div>
      <p class="container-suppliers__text container-suppliers__text--5">
        Eius adipisci libero dicta suscipit vero dolor quia sapiente cupiditate
        ab, dolore aliquid.
      </p>
      <div class="suppliers-img-box suppliers-img-box--6">
        <img src="img/ingredients/cherries.webp" alt="cherries" />
      </div>
      <p class="container-suppliers__text container-suppliers__text--6">
        Ullam eos repudiandae non, ea ut, tenetur explicabo nostrum architecto
        molestias, quaerat adipisci.
      </p>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>
