<%- include('partials/head') -%>
<body>
  <%- include('partials/header') -%>
  <main class="terms">
    <div class="container-terms">
      <h1 class="container-terms__heading">Privacy Policy</h1>
      <p class="container-terms__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quod
        nam dolorem eos aspernatur sed sapiente distinctio totam nihil, qui quos
        incidunt quam delectus voluptates. Dolore explicabo, rerum aperiam
        reprehenderit alias consectetur ea nobis dicta eaque tempora ut corporis
        at magnam sapiente, voluptatibus, veritatis cupiditate.
      </p>
      <p class="container-terms__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
        tenetur. Quisquam eveniet omnis recusandae deserunt iure quibusdam
        nobis, sunt assumenda iusto nisi ad quia, totam praesentium doloremque
        voluptatum! Saepe quisquam possimus dolores aut repellendus omnis nihil
        quasi dignissimos perferendis adipisci!
      </p>
      <p class="container-terms__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, quia
        iure! Dicta quaerat quo corporis sed nostrum tempora quis maiores,
        cumque reiciendis est, velit nihil dolorum dignissimos? Quibusdam labore
        excepturi deserunt omnis delectus ab assumenda magnam tempora possimus
        placeat quod maxime fugiat aspernatur illum, rem inventore, quo, minus
        deleniti nam asperiores. Nostrum vel quaerat, dolores sunt velit, iste
        sed ab fugiat distinctio consectetur sequi consequuntur, autem quidem
        error voluptatibus iure porro exercitationem itaque accusamus doloremque
        blanditiis non repudiandae. Ratione possimus pariatur laudantium
        similique voluptatibus dolor repellendus hic optio illo ut deserunt,
        totam ipsum beatae provident odio accusantium officia corporis
        doloremque.
      </p>
      <p class="container-terms__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Exercitationem, iure consequatur esse illum quam cupiditate pariatur!
        Quas quibusdam, adipisci soluta unde tempore, quo facilis commodi
        pariatur atque dolor dolorem itaque.
      </p>
      <p class="container-terms__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
        nam at sapiente, a ab tenetur blanditiis sint aut totam id unde
        voluptates libero delectus quo porro quos iure suscipit laboriosam
        facilis, tempora distinctio similique! Porro necessitatibus eum
        deleniti, doloremque beatae excepturi mollitia amet iste voluptas ullam.
        Architecto, perspiciatis illum voluptatum iure eaque facilis
        voluptatibus harum dicta, fuga esse porro, eligendi corporis officiis
        error tempore deleniti? Nobis neque consectetur saepe ratione sunt
        consequuntur assumenda, ex cumque!
      </p>
      <p class="container-terms__text">
        Nobis, aliquid consequatur tempore nulla reprehenderit asperiores vero
        sunt facilis quis labore earum quos soluta sit molestias, ratione odit
        enim fugit provident deserunt autem maiores atque. Ad in quasi vitae
        dolores inventore voluptatibus voluptas voluptatem. Dolorem et neque
        officiis alias architecto excepturi, minima laboriosam maxime
        voluptatum, nostrum sint iusto! Et nisi quis eos. Dignissimos quam
        aspernatur maiores consequatur vitae voluptatum deleniti ratione,
        voluptas a officia placeat, temporibus est cum tenetur necessitatibus
        magni reprehenderit saepe perspiciatis!
      </p>
      <p class="container-terms__text">
        Ullam ad excepturi iste. Voluptates, illum eos tempora suscipit
        recusandae nobis numquam velit, et quam, odit voluptas ipsa nemo vitae
        est. Deserunt, alias. Tenetur nemo dolor debitis iste deleniti ipsam rem
        nobis magni ratione animi vero earum similique alias sunt commodi
        corrupti consequuntur, quo, dolorum suscipit. A quis harum neque dolor
        animi ab laborum, quaerat quidem officia! Nemo pariatur nisi placeat.
        Rem aliquid amet fuga quasi, vel aut numquam porro explicabo debitis,
        corporis obcaecati quia.
      </p>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>
