<%- include('partials/head') -%>
<body>
  <%- include('partials/header') -%>
  <main class="credentials">
    <div class="credentials__container">
      <form action="/signin" method="POST" class="credentials__form">
        <input
          type="text"
          name="email"
          placeholder="Email address"
          required
          class="form-input"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
          class="form-input"
        />
        <button class="credentials__btn btn btn--solid btn--large">
          Sign in
        </button>
        <% if (error) { %>
        <p><%=error%></p>
        <% } %>
      </form>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>
